<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="/css/ChartData.css">
    <title>Charts</title>
</head>
<body>
    <div class="chartCard">
      <div class="chartBox">
        <canvas id="NoOfStudentsPerGrade"></canvas>
        <canvas id="histogramChart"></canvas>
        
      </div>
    </div>    
    <script src="/js/GetGrades.js"></script>
</body>
</html>