<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="~/css/ChartData.css" asp-append-version="true">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap" rel="stylesheet">
    <title>Charts</title>
</head>
<body>

    <div class="maincontainer">
        <div class="chartBox1">
            <p>No. Of Students Per Grade</p>
            <canvas id="NoOfStudentsPerGrade"></canvas>
        </div>
        <div class="chartBox2">
            <p>no. of students achive that degree</p>
            <canvas id="histogramChart"></canvas>
        </div>
        <div class="chartBox3">
            <p>Top 10 Students</p>
            <canvas id="Top10"></canvas>
        </div>
        <div class="chartBox4">
            <p>Bottom10 Students</p>
            <canvas id="Bottom10"></canvas>
        </div>
        <div class="full-width"></div>
    </div>
          
    <script src="/js/GetGrades.js"></script>
</body>
</html>