.maincontainer {
    display: grid;
    grid-template-columns: repeat(2, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
}

@media (max-width: 768px) {
    .maincontainer {
        grid-template-columns: 1fr;
    }
}

.chartBox1, .chartBox2, .chartBox3, .chartBox4 {
    width: 100%;
    border: 2px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    background: #f9f9f9;
    cursor: pointer; 
}

canvas {
    width: 100% !important;
    height: auto !important;
}

.chartBox1, .chartBox2, .chartBox3, .chartBox4 {
    width: 100%;
    border: 2px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    background: #f9f9f9;
    transition: width 2s ease; 
}

.chartBox1.full-width, .chartBox2.full-width, .chartBox3.full-width, .chartBox4.full-width {
    width: 100% !important; 
    grid-column: span 2; 
}
.maincontainer p {
    font-size: 1.5rem;
    justify-self: center;
    font-family: "Outfit", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}
.table-container {
    overflow-x: auto;
    max-height: 400px;
    overflow-y: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    padding: 8px 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
    position: sticky;
    top: 0;
}

tr:hover {
    background-color: #f5f5f5;
}

.chartBox3, .chartBox4 {
    padding: 15px;
}